---
page_title: "Terraform Provider for Entrywan"
description: Manage [Entrywan](https://entrywan.com) resources with Terraform
---

# Entrywan Provider

The Entrywan provider allows managing [Entrywan](https://entrywan.com)
resources.  An active account and IAM token are required.

Available resources are described in this repository, and correspond
to their equivalents in the
[documentation](https://entrywan.com/docs).

## Example

The following example imports an ssh key and creates a compute
instance that uses that key.

{{ tffile "examples/provider/provider.tf" }}

## Schema

### Required

- `endpoint` (String) Entrywan API endpoint
- `token` (String, Sensitive) Entrywan IAM token
